<% if params[:action] == "show" && params[:controller] == "articles" %>
    <h2 align="center"><%= obj.title %></h1>
<% end %>

<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="well well-lg" style="padding-top:10px;padding-bottom:5px">
            <div class="article-title">
                <%= link_to obj.title, article_path(obj) %>
            </div>
            <div class="article-body">
                <%= truncate(obj.description, length: 100) %>
            </div>
            <div class="article-actions row">
                <div class="col-xs-12">
                    <%= link_to "Read More", article_path(obj),class: "btn btn-xs btn-primary-outline" %>
                    <% if logged_in? && current_user == obj.user %>
                        <%= link_to 'Delete', article_path(obj), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-xs btn-danger-outline" %>
                    <% end %>
                </div>
                <div class="col-xs-12">
                    <%= render 'shared/author', obj: obj %>
                </div>
            </div>
        </div>
    </div>
</div>