<h2 align="center"><%= @article.title %></h1>
<div class="well col-xs-8 col-xs-offset-2">
    <p><%= simple_format(@article.description) %></p>
    <div class="article-actions">
        <%= link_to "Edit this article", edit_article_path(@article),class: "btn btn-xs btn-primary-outline" %>
        <%= link_to "View all articles", articles_path, class: "btn btn-xs btn-success-outline" %>
        <%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-xs btn-danger-outline" %>
    </div>
</div>
