<h1 align="center">Welcome to <%= @user.username %>'s page</h1>
<div class="row">
    <div class="col-md-4 col-md-offset-4 center">
        <%= gravatar_for @user, size: 150 %>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-8 col-xs-offset-2" style="text-align:center">
        <% if @articles.count == 0 %>
            <% if logged_in? && current_user == @user %>
                <span>Looks like you have no articles</span>&emsp;|&emsp;
                <%= link_to "Create New Article", new_article_path, class: "bubble btn btn-success-outline btn-xs" %>
            <% else %>
                <span>Looks like <%= @user.username %> has no articles</span>
                <% if logged_in? and current_user.admin? %>
                    &emsp;|&emsp;<%= link_to "Delete this User", method: :delete, data: {confirm: "Are you sure you want to delete the user and all associated articles?"}, class: "bubble btn btn-danger-outline btn-xs" %>
                <% end %>
            <% end %>
        <% else %>
            <h4>
                <%= @user.username %>'s articles
                <% if logged_in? and current_user.admin? %>
                    &emsp;|&emsp;<%= link_to "Delete this User", new_article_path, class: "bubble btn btn-danger-outline btn-xs" %>
                <% end %>
            </h4>
        <% end %>
    </div>
</div>

<%= render 'shared/pagination' %>
<% @articles.each do |article| %>
    <%= render 'articles/article', obj: article %>
<% end %>
<%= render 'shared/pagination' %>
